{{!
    This file is part of Moodle - http://moodle.org/

    @template assignsubmission_bloboffload/uploader_files

    Displays the editable list of uploaded files used by the uploader UI.

    Example context (json):
    {
        "hasfiles": true,
        "nofileslabel": "No uploaded files",
        "files": [
            {
                "id": 1,
                "filename": "Essay.docx",
                "filesize": "12 KB",
                "mimetype": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "downloadurl": "https://example.invalid/download.php?fileid=1"
            }
        ]
    }
}}

{{#hasfiles}}
<ul class="assignsubmission-bloboffload__files">
    {{#files}}
    <li class="assignsubmission-bloboffload__file" data-fileid="{{id}}">
        <div>
            <div><a href="{{downloadurl}}">{{filename}}</a></div>
            <div class="assignsubmission-bloboffload__meta">
                {{filesize}}{{#mimetype}} | {{mimetype}}{{/mimetype}}
            </div>
        </div>
        <div class="assignsubmission-bloboffload__actions">
            <a href="{{downloadurl}}">
                {{#str}}download, assignsubmission_bloboffload{{/str}}
            </a>
            <button type="button" data-action="delete">
                {{#str}}delete, assignsubmission_bloboffload{{/str}}
            </button>
        </div>
    </li>
    {{/files}}
</ul>
{{/hasfiles}}
{{^hasfiles}}
<div class="assignsubmission-bloboffload__meta">{{nofileslabel}}</div>
{{/hasfiles}}
