{{! This file is part of Moodle - http://moodle.org/ }}
{{! @copyright 2026 Daniel McCluskey }}
{{! @author Daniel McCluskey }}
{{! @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later }}

{{#react}}
{{{reactconfigjson}}}
<div class="assignsubmission-bloboffload__meta">{{strings.loading}}</div>
{{/react}}
