{{!
    This file is part of Moodle - http://moodle.org/

    @template assignsubmission_bloboffload/uploader

    Mount point for the blob offload uploader React component.

    Example context (json):
    {
        "reactconfigjson": "{\"component\":\"@moodle/lms/assignsubmission_bloboffload/uploader\"}",
        "strings": {
            "loading": "Loading uploader"
        }
    }
}}

{{#react}}
{{{reactconfigjson}}}
<div class="assignsubmission-bloboffload__meta">{{strings.loading}}</div>
{{/react}}
